In [14]:
# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="my-secret-pw",
        host="localhost",
        port=3306
   )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [ ]:
 CREATE TABLE `ufos` (
  `date_time` datetime DEFAULT NULL,
  `city` text DEFAULT NULL,
  `state` text DEFAULT NULL,
  `country` varchar(2) DEFAULT NULL,
  `shape` varchar(9) DEFAULT NULL,
  `duration_sec` bigint(20) DEFAULT NULL,
  `duration_str` text DEFAULT NULL,
  `comments` text DEFAULT NULL,
  `date_posted` text DEFAULT NULL,
  `latitude` text DEFAULT NULL,
  `longitude` text DEFAULT NULL,
  KEY `shape_country_idx` (`shape`,`country`),
  KEY `shape_country_date_idx` (`shape`,`country`,`date_time`),
  KEY `shape_idx` (`shape`),
  KEY `country_idx` (`country`),
  KEY `date_time_idx` (`date_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

In [10]:
cur.execute("use ufo")

In [11]:
cur.execute("show tables in ufo")
cur.fetchall()

[]

In [39]:
cur.execute("drop table if exists ext_ufos")
sql = f"""
create table ext_ufos (
    date_time text null,
    city text null,
    state text null,
    country text null,
    shape text null,
    duration_sec bigint null,
    duration_str text null,
    comments text null,
    date_posted text null,
    latitude text null,
    longitude text null
)
"""
cur.execute(sql)

In [41]:
load_sql = f"""
load data infile '/data/ufo/scrubbed.csv' ignore
into table ext_ufos
fields terminated BY ','
lines terminated BY '\n'
ignore 1 lines
"""
cur.execute(load_sql)

In [ ]:
cur.execute("select * from ext_ufos limit 10")
cur.fetchall()

In [49]:
def sql(s):
    cur.execute(s)
    return cur.fetchall()

In [53]:
shape_idx = "create index shape_idx on ext_ufos (shape)"

In [55]:
sql("explain select shape, count(1) from ext_ufos")

[(1, 'SIMPLE', 'ext_ufos', 'ALL', None, None, None, None, '80274', '')]

In [ ]:
equals = ['shape', 'country']
ranges = ['date_time']

In [62]:
sql = f"""
create table ufos as select
    str_to_date(
        replace(date_time, '24:', '00:'), 
        '%m/%d/%Y %H:%i') date_time,
    city,
    state,
    cast(country as varchar(2)) country,
    cast(shape as varchar(9)) shape,
    duration_sec,
    duration_str,
    comments,
    date_posted,
    latitude,
    longitude
from ext_ufos
"""
cur.execute(sql)

In [ ]:
sql = """
create table ufos (
    date_time datetime null,
    city text null,
    state text null,
    country text null,
    shape text null,
    duration_sec bigint null,
    duration_str text null,
    comments text null,
    date_posted text null,
    latitude text null,
    longitude text null
)
"""

In [1]:
from sqlalchemy import create_engine

In [2]:
mdb = create_engine('mariadb+mariadbconnector://root:my-secret-pw@localhost:3306/ufo')

In [3]:
import pandas as pd

In [4]:
pd.read_sql(sql="explain select * from ufos where shape = 'circle'", con=mdb)

,id,select_type,table,type,possible_keys,key,key_len,ref,rows,Extra
0,1,SIMPLE,ufos,ref,"shape_country_idx,shape_country_date_idx,shape...",shape_idx,39,const,7608,Using index condition

In [6]:
mdb.dispose()

In [10]:
sql = "select * from ize order by date_time desc"

In [11]:
"order by date_time" in sql

True

In [14]:
sql[-3:]

'esc'